.filebtn {
    opacity: 0;
    position: absolute;
    top: -100em;
    left: -100em;
}
.profile-pic {

        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        
}
ion-toolbar {
    --background: black
}

.title {
    color:white;
    text-align: center;
}

ion-content {
    --background: white;
    
}
